<footer>
  <ul id="index">
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/articles">Article</a></li>
  </ul>

  <ul id="social">
    <li class="github"><a href="https://github.com/ogihara-ryo"><i class="fab fa-github"></i></a></li>
    <li class="facebook"><a href="https://www.facebook.com/ryo.ogihara.5"><i class="fab fa-facebook"></i></a></li>
    <li class="twitter"><a href="https://twitter.com/OgiharaRyo"><i class="fab fa-twitter"></i></a></li>
  </ul>
  <p id="copyright">©2020 Ogihara Ryo</p>
</footer>
