<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}" />
    {% endif %}

    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.image %}
      <meta name="twitter:image" content="{{ site.url }}/images/{{ page.image }}" />
    {% else %}
      <meta name="twitter:image" content="{{ site.url }}/images/logo.png" />
    {% endif %}
  </head>

  <body>
    {% include header.html %}

    <article>
      {{ content }}

      <div id="share-bar" style="margin-top: 40px;">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/OgiharaRyo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @OgiharaRyo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </article>

    {% include footer.html %}
  </body>
</html>
